<%- include("partials/header") %> 
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://kit.fontawesome.com/f005ebedaf.js" crossorigin="anonymous"></script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 text-center">
            <div class="jumbotron pb-1">
                <div class="header">
                    <h1 class="display-4">YelpCamp</h1>
                </div>
                <p class="lead">View your next vactation spot now!</p>             
                <p class="lead mt-5">
                    <a class="btn btn-success btn-lg" href="/campgrounds" role="button"><i class="fas fa-tree pr-3"></i>Explore</a>
                </p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %> 