<%- include("../partials/header") %>

<div class="row m-0 flex-grow-1">
    <div class="d-none d-md-flex col-sm-6 bg-img"></div>

    <div class="col-md-6 bg-light align-items-center">
        <div class="h-100 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <h3 class="display-4">Login</h3>
                        <form class="form-signin" action="/login" method="POST">
                            <div class="form-group">
                                <label for="inputUsername" class="sr-only">Username</label>
                                <input type="text" id="inputUsername" class="form-control rounded-pill border-0 shadow-sm" name="username" placeholder="Username" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" id="inputPassword" class="form-control rounded-pill border-0 shadow-sm" name="password" placeholder="Password" required>
                            <div class="form-group mt-3">
                                <a href="/forgot">Forgot password?</a>
                            </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block rounded-pill" type="submit">Sign in</button>
                            </div>
                            <div class="form-group">
                                <a href="/register">New? Create an account!</a>
                            </div>        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>