<%- include("../partials/header") %>

<div class="row m-0 flex-grow-1">
    <div class="d-none d-lg-flex col-sm-6 bg-img-register"></div>

    <div class="col-lg-6 bg-light align-items-center">
        <div class="h-100 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <% if (currentUser && currentUser.isAdmin) { %>
                            <h3 class="display-4">Sign Up New Admin</h1>
                        <% } else { %>
                            <h3 class="display-4">Sign Up</h1>
                        <% } %>
                        <hr class="my-4">            
                        <form class="form-signin" action="/register" method="POST">
                            <div class="form-group">
                                <label for="inputUsername" class="sr-only">Username</label>
                                <input type="text" id="inputUsername" class="form-control rounded-pill border-1" name="username" placeholder="Username" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" id="inputPassword" class="form-control rounded-pill border-1" name="password" placeholder="Password" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="sr-only">First Name</label>
                                <input type="text" id="inputFirstname" class="form-control rounded-pill border-1" name="firstName" placeholder="First Name" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="sr-only">Last Name</label>
                                <input type="text" id="inputLastName" class="form-control rounded-pill border-1" name="lastName" placeholder="Last Name" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Email</label>
                                <input type="email" id="inputEmail" class="form-control rounded-pill border-1" name="email" placeholder="your@email.com" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputAvatar" class="sr-only">Avatar URL</label>
                                <input type="text" id="inputAvatar" class="form-control rounded-pill border-1" name="avatar" placeholder="avatar url" autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block rounded-pill" type="submit">Sign Up!</button> 
                            </div>
                            <div class="form-group">
                                <a href="/login">Already registered? Login!</a>
                            </div>        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>